<%= badge_header(@badge) %>
<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name, id: :badge_name %>
  </p>

  <p>
    <%= form.label :file %>
    <%= form.text_field :file, id: :badge_file %>
  </p>

  <p>
    <%= form.label :rule_type %>
    <%= form.collection_select :rule_type, rules_type_values, :to_s, :to_s, prompt: true %>
  </p>

  <p>
    <%= form.label :rule_value %>
    <%= form.text_field :rule_value, id: :badge_rule_value %>
  </p>

  <p>
    <%= form.label :reason %>
    <%= form.text_area :reason %>
  </p>

  <%= form.submit %>
  <%= link_to t('.badges'), admin_badges_path %>
<% end %>