<nav class="navbar navbar-light bg-light">
  <h1>
    <%= link_to  "Testguru", tests_path, class: 'navbar-brand'%>
    <span class="badge badge-secondary"><%= link_to  t('.admin_panel'), admin_tests_path, class: 'navbar-brand'%></span>
    <span class="badge badge-secondary"><%= link_to  t('.badge'), admin_badges_path, class: 'navbar-brand'%></span>
    <%= link_to  t('.gists'), admin_gists_path, class: 'navbar-brand'%>
  </h1>

  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('.welcome', email: current_user.email) %></b> |
      <%= link_to  t('.logout'), destroy_user_session_path, method: :delete %>
  <% end %>
  </span>
</nav>