<h1><%= t('.header')%></h1>
<%= render 'shared/errors', resource: @badge %>
<table class="table table-bordered mt-3">
  <thead>
  <tr>
    <th scope="col"><%= t('.name') %></th>
    <th scope="col"><%= t('.file') %></th>
    <th scope="col"><%= t('.reason') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @user_badges %>
  </tbody>
</table>
<h1><%= t('.badges')%></h1>
<table class="table table-bordered mt-3">
  <thead>
  <tr>
    <th scope="col"><%= t('.name') %></th>
    <th scope="col"><%= t('.file') %></th>
    <th scope="col"><%= t('.reason') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @badges %>
  </tbody>
</table>