<h1><%= t('.header')%></h1>
<table class="table table-bordered mt-3">
  <thead>
  <tr>
    <th scope="col" class="sort-by-title pointer">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide'%>
      <%= octicon 'arrow-down', class: 'text-success hide'%>
    </th>
    <th scope="col"><%= t('.level') %></th>
    <th scope="col"><%= t('.author') %></th>
    <th scope="col"><%= t('.question_count') %></th>
    <th colspan="2"><%= t('.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @tests %>
  </tbody>
</table>
<%= link_to  t('.add_test'), new_admin_test_path %>