<h2>Тест: <%= @test.title %></h2>
<% if @questions.present? %>
  <table class="table table-bordered mt-3">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th colspan="2">Действия</th>
    </tr>
    <%= render @questions %>
    </thead>
  </table>
<% else %>
  <p>Нет доступных вопросов для теста</p>
<% end %>
<%= link_to  t(".edit"), edit_admin_test_path(@test) %>
<%= link_to  "Назад к тестам", admin_tests_path, method: :get %>

<%= link_to  "Добавить вопрос", new_admin_test_question_path(@test)%>