<tr>
  <td><%= link_to test.title, test_path(test), method: :get %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td> <%= link_to  "Изменить", edit_test_path(test), method: :get %> </td>
  <td> <%= link_to  "Удалить", test_path(test), method: :delete, data: {confirm: 'Вы уверены?'} %>
</tr>